<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="Hello" class="com.byzx.model.Hello"></bean>

<bean id="ZhangSan" class="com.byzx.model.ZhangSan"></bean>
<bean id="LiSi" class="com.byzx.model.LiSi"></bean>
<bean id="Work" class="com.byzx.model.Work">
	<property name="tests" ref="ZhangSan"></property>
</bean>
  
</beans>